.BubbleSort
    display: grid
    grid-template-columns: 100%
    grid-template-rows: repeat(2, 1fr)

.BubbleSort-demo
    display: grid
    grid-template-columns: 100px 1fr
    grid-template-rows: 1fr

.BubbleSort-listContainer
    display: grid
    grid-template-columns: repeat(20, 1fr)
    grid-template-rows: 1fr
    grid-gap: 10px
    position: relative

.BubbleSort-item
    display: grid
    background:  #2468F2
    align-self: end

.BubbleSort-compareA
    background: #FFF
    box-shadow: 1px 1px 20px #C1D1F2

.BubbleSort-compareB
    background: #97E4FF
    box-shadow: 1px 1px 20px #51D2FF
