body
    background: #131313
    color: #2468F2
    // font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

a
    color: #2EA5F4

h1
    text-align: center
    font-size: 50px
    font-variant: small-caps
    text-shadow: 1px 1px 8px #2EA5F4;
    background: linear-gradient(60deg, #2468F2, #FFF, #2468F2);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);

.o
    text-shadow: 1px 1px 8px #C8EAFF;



