.PerformanceGraph
    display: grid
    position: relative
    grid-template-columns: 1fr 8fr 1fr
    grid-template-rows: 10fr 1fr

.PerformanceGraph-label
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    align-self: center
    visibility: hidden

.PerformanceGraph:hover .PerformanceGraph-label
    visibility: visible

.PerformanceGraph-sections
    display: grid
    position: relative
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: 1fr

.PerformanceGraph-section
    display: grid
    position: relative
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    outline: 1px solid transparent
    cursor: pointer
    z-index: 1

.PerformanceGraph-graphBG
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow: hidden

.PerformanceGraph-pointLabel
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: repeat(2, 1fr)
    text-align: left

.PerformanceGraph-infoData
    text-align: right
