
.SortItem
    display: grid
    background:  #2468F2
    align-self: end

.SortItem-highlighted
    background: #FFF
    box-shadow: 1px 1px 20px #C1D1F2

.SortItem-focused
    background: #83C7DE
    box-shadow: 1px 1px 20px #70ABBE
