.SortView
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 1fr 50px 1fr

.SortView-demo
    position: relative
    display: grid
    grid-template-columns: 75px 1fr 75px
    grid-template-rows: 1fr

.SortView-demo .SpeedChooser
    opacity: 0;

.SortView-demo:hover .SpeedChooser
    opacity: 1;

.SortView-graph
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr

.BubbleSort-listContainer
    display: grid
    grid-template-rows: 1fr
    grid-gap: 2px
    position: relative
