
.SortItem
    display: grid
    background:  #2468F2
    align-self: end

.SortItem-section
    background: #39507F

.SortItem-highlightedSection
    background: #64A9F2

.SortItem-focused
    background: #7DCBFF
    box-shadow: 1px 1px 20px #2EA5F4

.SortItem-selected
    background: #C9EAFF
    box-shadow: 1px 1px 20px #C9EAFF

.SortItem-highlighted
    background: #FFF
    box-shadow: 1px 1px 20px #C1D1F2
